<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="violet" align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Sign Up</h2>
    <br>
    
    <form action="Sign Up.js">
    <div>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" placeholder="first name">
    </div>
    <br>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" placeholder="last name">
    </div>
    <br>
    <div>
        <label for="fname">Email:</label>
        <input type="email" name="uEmail" placeholder="email">
    </div>
    <br>
    <div>
    <label for="">Phone Number:</label>
    <input type="text" name="uNumber" placeholder="phone number">
    </div>
    <br>
    <div>
    Date of Birth:<input type="date" name="" id="">
    </div>
    <br>
    <div>
    <input type="checkbox" name="" id="">I accept to tearm and condition
    </div>
    <br>
    <div>
     <input type="submit" value="submit">
     <input type="reset" value="Clear form">   
    </div>
    </form>
</body>
</html>